.fv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 675px;
    background-image: url("../../src/img/fv\ \(1\).png");
    background-size: cover;
    background-position: center;
}

.fv__ttl {
    width: 100%;
    padding-inline: 30px;
    font-family: "Cormorant Garamond";
    font-size: 38px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.05em;
    text-align: center;
    color: $white;
}

.fv__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 316px;
    height: auto;

    & img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 500px), print {
    .fv__ttl {
        padding-inline: 109px
    }
}

@media screen and (min-width: 768px), print {
    .fv__ttl {
        font-size: 60px;
        line-height: 69px;
    }
}