.sec-content {
    padding-top: 214.38px;
    padding-bottom: 218px;
    display: flex;
    flex-direction: column;
    gap: 188px;
}

@media screen and (min-width: 768px), print {
    .sec-content {
        padding-top: 108.38px;
        padding-bottom: 290px;
        gap: 190px;
    }
}